@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3c3e;
}

